body {
	background-color: white;
}

table, th, td,tr {
	
  border: 1px solid black;
  border-collapse: collapse;
}

#pivo{
	background-color: #99490B;
}

#first{
	background-color: #FF9340;
}

#second{
	background-color: #E67722;
}

#table {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
